.f-container{
    justify-content: space-between;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

@media all and (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>section{
        align-items: center;
        text-align: center;
    }
}