.h-container {
    justify-content: space-between;
    padding: 1rem 0 0 1rem;
    color: #fff;
}

.h-container ul{
    display: flex;
}

.h-container .img-link{
    margin-right: 50%;
}

.h-wrapper{
    background-color: #131110;
    color: #fff;
}

.h-menu{
    gap: 2rem;
}
.h-menu a:hover{
    cursor: pointer;
}

