/* :root {
} */

/* Universal styles */
*{
  font-family: "Poppons", sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.paddings{
  padding: 1.5rem;
}

a{
  color: #fff;
  text-decoration: none;
}

.inner-width{
  width: 100%;
}

.flex-center{
  display: flex;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.flex-col-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.secondaryText {
  color: rgb(140 139 139);
  font-size: 0.9rem;
}


.button{
  font-weight: 500;
  padding: 0.6rem 1.4rem;
  color: #fff;
  background: linear-gradient(97.05deg, #4066ff 3.76%, #0a2455) ;
  border: none;
  border-radius: 4px;
  transition: all 300ms ease-in;
}

.button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/* Loader styling */
.loader-container {
  display: flex;
  justify-content: center; /* Horizontally center the loader */
  align-items: center; /* Vertically center the loader */
  height: 100vh; /* Set the container height to the full viewport height */
}
.custom-loader {
  width: 70px;
  height: 70px;
  background: #ffa600;
  border-radius: 50px;
  -webkit-mask: radial-gradient(circle 31px at 50% calc(100% + 13px),#000 95%,#0000) top 4px left 50%,
    radial-gradient(circle 31px,#000 95%,#0000) center,
    radial-gradient(circle 31px at 50% -13px,#000 95%,#0000) bottom 4px left 50%,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  -webkit-mask-repeat: no-repeat;
  animation: cu10 1.5s infinite;
}

@keyframes cu10 {
  0% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }

  16.67% {
    -webkit-mask-size: 100% 18px,0    18px,0    18px,auto
  }

  33.33% {
    -webkit-mask-size: 100% 18px,100% 18px,0    18px,auto
  }

  50% {
    -webkit-mask-size: 100% 18px,100% 18px,100% 18px,auto
  }

  66.67% {
    -webkit-mask-size: 0    18px,100% 18px,100% 18px,auto
  }

  83.33% {
    -webkit-mask-size: 0    18px,0    18px,100% 18px,auto
  }

  100% {
    -webkit-mask-size: 0    18px,0    18px,0    18px,auto
  }
}